@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Dosis', sans-serif;
}

* {
    outline: none;
}

.privacy > * {
    margin-bottom: 10px;
}

.privacy > li {
    list-style: circle;
}